In [6]:
import psycopg2, pandas

conn = psycopg2.connect('dbname=university user=postgres password=RKhM7ewvU7quDC host=localhost')

cur = conn.cursor()

In [26]:
query = """
--sql
SELECT table_name FROM information_schema.tables WHERE table_schema='public'
;
"""

In [27]:
df = pandas.io.sql.read_sql_query(query, conn)

In [28]:
df

   table_name
0     faculty
1      course
2    offering
3  enrollment
4     student