In [1]:
%load_ext sql
%sql postgresql://postgres:RKhM7ewvU7quDC@localhost:5432/dme_m03

In [17]:
%%sql
SELECT table_name FROM information_schema.tables WHERE table_schema='public';

 * postgresql://postgres:***@localhost:5432/dme_m03
8 rows affected.

[('employee',),
 ('facility',),
 ('location',),
 ('customer',),
 ('eventrequest',),
 ('eventplan',),
 ('eventplanline',),
 ('resourcetbl',)]

In [16]:
%%sql

SELECT 

eventno, dateheld, 
customer.custno, customer.custname, 
facility.facno, facility.facname 

FROM eventrequest 
INNER JOIN customer 
ON eventrequest.custno = customer.custno 
INNER JOIN facility 
ON eventrequest.facno = facility.facno
WHERE 
customer.city = 'Boulder'
AND
dateheld BETWEEN '2018-01-01' AND '2018-12-31';

 * postgresql://postgres:***@localhost:5432/dme_m03
7 rows affected.

[('E100', datetime.date(2018, 10, 25), 'C100', 'Football', 'F100', 'Football stadium'),
 ('E101', datetime.date(2018, 10, 26), 'C100', 'Football', 'F100', 'Football stadium'),
 ('E103', datetime.date(2018, 9, 21), 'C100', 'Football', 'F100', 'Football stadium'),
 ('E102', datetime.date(2018, 9, 14), 'C100', 'Football', 'F100', 'Football stadium'),
 ('E104', datetime.date(2018, 12, 3), 'C101', "Men's Basketball", 'F101', 'Basketball arena'),
 ('E105', datetime.date(2018, 12, 5), 'C101', "Men's Basketball", 'F101', 'Basketball arena'),
 ('E106', datetime.date(2018, 12, 12), 'C101', "Men's Basketball", 'F101', 'Basketball arena')]

In [22]:
%%sql

SELECT * FROM eventrequest;

 * postgresql://postgres:***@localhost:5432/dme_m03
8 rows affected.

[('E100', datetime.date(2018, 10, 25), datetime.date(2018, 6, 6), 'C100', 'F100', datetime.date(2018, 6, 8), 'Approved', 5000, 80000, 'B1000'),
 ('E101', datetime.date(2018, 10, 26), datetime.date(2018, 7, 28), 'C100', 'F100', None, 'Pending', 5000, 80000, 'B1000'),
 ('E103', datetime.date(2018, 9, 21), datetime.date(2018, 7, 28), 'C100', 'F100', datetime.date(2018, 8, 1), 'Approved', 5000, 80000, 'B1000'),
 ('E102', datetime.date(2018, 9, 14), datetime.date(2018, 7, 28), 'C100', 'F100', datetime.date(2018, 7, 31), 'Approved', 5000, 80000, 'B1000'),
 ('E104', datetime.date(2018, 12, 3), datetime.date(2018, 7, 28), 'C101', 'F101', datetime.date(2018, 7, 31), 'Approved', 2000, 12000, 'B1000'),
 ('E105', datetime.date(2018, 12, 5), datetime.date(2018, 7, 28), 'C101', 'F101', datetime.date(2018, 8, 1), 'Approved', 2000, 10000, 'B1000'),
 ('E106', datetime.date(2018, 12, 12), datetime.date(2018, 7, 28), 'C101', 'F101', datetime.date(2018, 7, 31), 'Approved', 2000, 10000, 'B1000'),
 ('E107', datetime.date(2018, 11, 23), datetime.date(2018, 7, 28), 'C105', 'F100', datetime.date(2018, 7, 31), 'Denied', 10000, 5000, None)]

In [29]:
%%sql

SELECT 

customer.custno, customer.custname, 
eventno, dateheld, 
facility.facno, facility.facname,
CAST(estcost AS FLOAT) / CAST(estaudience AS FLOAT) as estcost_pp

FROM eventrequest 
INNER JOIN customer 
ON eventrequest.custno = customer.custno 
INNER JOIN facility 
ON eventrequest.facno = facility.facno
WHERE 
dateheld BETWEEN '2018-01-01' AND '2018-12-31'
AND
CAST(estcost AS FLOAT) / CAST(estaudience AS FLOAT) < 0.2;

 * postgresql://postgres:***@localhost:5432/dme_m03
5 rows affected.

[('C100', 'Football', 'E100', datetime.date(2018, 10, 25), 'F100', 'Football stadium', 0.0625),
 ('C100', 'Football', 'E101', datetime.date(2018, 10, 26), 'F100', 'Football stadium', 0.0625),
 ('C100', 'Football', 'E103', datetime.date(2018, 9, 21), 'F100', 'Football stadium', 0.0625),
 ('C100', 'Football', 'E102', datetime.date(2018, 9, 14), 'F100', 'Football stadium', 0.0625),
 ('C101', "Men's Basketball", 'E104', datetime.date(2018, 12, 3), 'F101', 'Basketball arena', 0.16666666666666666)]

In [47]:
%%sql

SELECT

customer.custno, customer.custname,
SUM(eventrequest.estcost)

FROM
eventrequest
INNER JOIN customer
ON customer.custno = eventrequest.custno

WHERE status = 'Approved'
GROUP BY customer.custno, custname;

 * postgresql://postgres:***@localhost:5432/dme_m03
2 rows affected.

[('C100', 'Football', 15000), ('C101', "Men's Basketball", 6000)]

In [49]:
%%sql

INSERT INTO Customer 
  (CustNo, CustName, Address, Internal, Contact, Phone, City, State, Zip)
VALUES ('C9999999', 'Michael Mannino', '123 Any Street', 'Y', 'Self', '720000',
               'Denver', 'CO', '80204');

 * postgresql://postgres:***@localhost:5432/dme_m03
1 rows affected.

[]

In [50]:
%%sql

UPDATE
resourcetbl
SET 
rate = rate*1.1
WHERE 
resname = 'nurse';

 * postgresql://postgres:***@localhost:5432/dme_m03
1 rows affected.

[]

In [52]:
%%sql

DELETE FROM customer WHERE custno = 'C9999999'

 * postgresql://postgres:***@localhost:5432/dme_m03
1 rows affected.

[]