In [7]:
%load_ext sql
%sql postgresql://postgres:RKhM7ewvU7quDC@localhost:5432/dme_m03

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%%sql
SELECT table_name FROM information_schema.tables WHERE table_schema='public';

 * postgresql://postgres:***@localhost:5432/dme_m03
8 rows affected.

[('employee',),
 ('facility',),
 ('location',),
 ('customer',),
 ('eventrequest',),
 ('eventplan',),
 ('eventplanline',),
 ('resourcetbl',)]

# SQL Statements with Errors and Poor Formatting

## 1. Identify errors in the following SQL statement and label errors with error type (syntax, redundancy, or semantic). To simplify your work, the statement has only one type of error. Rewrite the statement to remove the error.

In [9]:
%%sql

SELECT eventrequest.eventno, dateheld, status, estcost
FROM eventrequest, employee, facility, eventplan
WHERE estaudience > 5000
  AND eventplan.empno = employee.empno 
  AND eventrequest.facno = facility.facno
  AND facname = 'Football stadium' 
  AND empname = 'Mary Manager'

 * postgresql://postgres:***@localhost:5432/dme_m03
20 rows affected.

[('E100', datetime.date(2018, 10, 25), 'Approved', 5000),
 ('E100', datetime.date(2018, 10, 25), 'Approved', 5000),
 ('E100', datetime.date(2018, 10, 25), 'Approved', 5000),
 ('E100', datetime.date(2018, 10, 25), 'Approved', 5000),
 ('E100', datetime.date(2018, 10, 25), 'Approved', 5000),
 ('E101', datetime.date(2018, 10, 26), 'Pending', 5000),
 ('E101', datetime.date(2018, 10, 26), 'Pending', 5000),
 ('E101', datetime.date(2018, 10, 26), 'Pending', 5000),
 ('E101', datetime.date(2018, 10, 26), 'Pending', 5000),
 ('E101', datetime.date(2018, 10, 26), 'Pending', 5000),
 ('E103', datetime.date(2018, 9, 21), 'Approved', 5000),
 ('E103', datetime.date(2018, 9, 21), 'Approved', 5000),
 ('E103', datetime.date(2018, 9, 21), 'Approved', 5000),
 ('E103', datetime.date(2018, 9, 21), 'Approved', 5000),
 ('E103', datetime.date(2018, 9, 21), 'Approved', 5000),
 ('E102', datetime.date(2018, 9, 14), 'Approved', 5000),
 ('E102', datetime.date(2018, 9, 14), 'Approved', 5000),
 ('E102', datetime.date(2018, 9, 14), 'Approved', 5000),
 ('E102', datetime.date(2018, 9, 14), 'Approved', 5000),
 ('E102', datetime.date(2018, 9, 14), 'Approved', 5000)]

In [10]:
%%sql

SELECT eventrequest.eventno, dateheld, status, estcost
FROM eventrequest, employee, facility, eventplan
WHERE estaudience > 5000
  AND eventrequest.eventno = eventplan.eventno
  AND eventplan.empno = employee.empno 
  AND eventrequest.facno = facility.facno
  AND facname = 'Football stadium' 
  AND empname = 'Mary Manager'

 * postgresql://postgres:***@localhost:5432/dme_m03
4 rows affected.

[('E101', datetime.date(2018, 10, 26), 'Pending', 5000),
 ('E100', datetime.date(2018, 10, 25), 'Approved', 5000),
 ('E102', datetime.date(2018, 9, 14), 'Approved', 5000),
 ('E101', datetime.date(2018, 10, 26), 'Pending', 5000)]

## 2.

In [11]:
%%sql

SELECT DISTINCT eventrequest.eventno, dateheld, status, estcost
FROM eventrequest, eventplan
WHERE estaudience > 4000
AND eventplan.eventno = eventrequest.eventno
GROUP BY eventrequest.eventno, dateheld, status, estcost;

 * postgresql://postgres:***@localhost:5432/dme_m03
6 rows affected.

[('E105', datetime.date(2018, 12, 5), 'Approved', 2000),
 ('E102', datetime.date(2018, 9, 14), 'Approved', 5000),
 ('E104', datetime.date(2018, 12, 3), 'Approved', 2000),
 ('E106', datetime.date(2018, 12, 12), 'Approved', 2000),
 ('E100', datetime.date(2018, 10, 25), 'Approved', 5000),
 ('E101', datetime.date(2018, 10, 26), 'Pending', 5000)]

In [12]:
%%sql

SELECT DISTINCT eventrequest.eventno, dateheld, status, estcost
FROM eventrequest, eventplan
WHERE estaudience > 4000
AND eventplan.eventno = eventrequest.eventno;

 * postgresql://postgres:***@localhost:5432/dme_m03
6 rows affected.

[('E105', datetime.date(2018, 12, 5), 'Approved', 2000),
 ('E102', datetime.date(2018, 9, 14), 'Approved', 5000),
 ('E104', datetime.date(2018, 12, 3), 'Approved', 2000),
 ('E106', datetime.date(2018, 12, 12), 'Approved', 2000),
 ('E100', datetime.date(2018, 10, 25), 'Approved', 5000),
 ('E101', datetime.date(2018, 10, 26), 'Pending', 5000)]

## 3.

In [ ]:
%%sql

SELECT DISTINCT eventrequest.eventno, dateheld, status, estcost
FROM eventrequest, employee, facility, eventplan
WHERE estaudience > 5000
AND eventplan.empno = employee.empno
AND eventrequest.facno = facility.facno
AND eventplan.eventno = eventrequest.eventno
AND facname = 'Football stadium' ;

In [ ]:
%%sql

SELECT DISTINCT eventrequest.eventno, dateheld, status, estcost
FROM eventrequest, facility, eventplan
WHERE estaudience > 5000
AND eventrequest.facno = facility.facno
AND eventplan.eventno = eventrequest.eventno
AND facname = 'Football stadium' ;

## 4.

In [ ]:
%%sql

SELECT DISTINCT eventno, dateheld, status, estcost
FROM eventrequest, employee, eventplan
WHERE estaudience BETWEN 5000 AND 10000
AND eventplan.empno = employee.empno
AND eventrequest.eventno = eventplan.eventno
AND empname = 'Mary Manager';

In [ ]:
%%sql

SELECT DISTINCT eventrequest.eventno, dateheld, status, estcost
FROM eventrequest, employee, eventplan
WHERE estaudience BETWEEN 5000 AND 10000
AND eventplan.empno = employee.empno
AND eventrequest.eventno = eventplan.eventno
AND empname = 'Mary Manager';

## 5.

In [ ]:
%%sql

SELECT eventplan.planno, lineno, resname,
numberfld, timestart, timeend
FROM eventrequest, facility, eventplan,
eventplanline, resourcetbl
WHERE estaudience = '10000'
AND eventplan.planno = eventplanline.planno 
AND eventrequest.facno = facility.facno 
AND facname = 'Basketball arena' 
AND eventplanline.resno = resourcetbl.resno
AND eventrequest.eventno = eventplan.eventno

In [ ]:
%%sql

SELECT eventplan.planno, lineno, resname, numberfld, timestart, timeend
FROM eventrequest, facility, eventplan,eventplanline, resourcetbl
WHERE estaudience = 10000
AND eventplan.planno = eventplanline.planno
AND eventrequest.facno = facility.facno
AND eventplanline.resno = resourcetbl.resno
AND eventrequest.eventno = eventplan.eventno
AND facname = 'Basketball arena';